@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Light.woff);
   src: url(../fonts/Montserrat-Light.woff2);
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Regular.woff);
   src: url(../fonts/Montserrat-Regular.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Medium.woff);
   src: url(../fonts/Montserrat-Medium.woff2);
   font-style: normal;
   font-weight: 500;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-SemiBold.woff);
   src: url(../fonts/Montserrat-SemiBold.woff2);
   font-style: normal;
   font-weight: 600;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-Bold.woff);
   src: url(../fonts/Montserrat-Bold.woff2);
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: 'Montserrat';
   src: url(../fonts/Montserrat-ExtraBold.woff);
   src: url(../fonts/Montserrat-ExtraBold.woff2);
   font-style: normal;
   font-weight: 800;
}

@font-face {
   font-family: 'Roboto';
   src: url(../fonts/Roboto-Light.woff);
   src: url(../fonts/Roboto-Light.woff2);
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: 'Roboto';
   src: url(../fonts/Roboto-Regular.woff);
   src: url(../fonts/Roboto-Regular.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Roboto';
   src: url(../fonts/Roboto-Bold.woff);
   src: url(../fonts/Roboto-Bold.woff2);
   font-style: normal;
   font-weight: 700;
}

@font-face {
   font-family: 'Inter';
   src: url(../fonts/Inter-Light.woff);
   src: url(../fonts/Inter-Light.woff2);
   font-style: normal;
   font-weight: 300;
}

@font-face {
   font-family: 'Inter';
   src: url(../fonts/Inter-Regular.woff);
   src: url(../fonts/Inter-Regular.woff2);
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url(../fonts/Inter-SemiBold.woff);
   src: url(../fonts/Inter-SemiBold.woff2);
   font-style: normal;
   font-weight: 600;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

html {
   overflow-x: hidden;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a {
   color: var(--main);
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}


ul,
li {
   list-style: none;
}

img {
   vertical-align: top;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
}

[class*='col-'],
.row {
   padding-right: 0;
   padding-left: 0;
}

.row {
   --bs-gutter-x: 0;
}

:root {
   --text: #000;
   --main: #002339;
   --secondary: #E8D52B;
   --light: #fff;

}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1260px;
}

.main__title,
.section__title {
   color: var(--main);
   text-transform: uppercase;
}

.main__title {
   font-size: 40px;
   font-weight: 700;
   line-height: 49px;
}

.section__title {
   font-size: 38px;
   font-weight: 600;
   line-height: 46px;
}

.main__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 62px;
   width: 265px;
   background-color: var(--main);
   color: var(--light);
   font-weight: 600;
   border: 2px solid var(--main);
   transition: border, color, background-color .2s ease-in-out;
}

.main__btn:hover,
.main__btn:focus {
   border: 2px solid var(--main);
   background-color: var(--secondary);
   color: var(--main);
}

.main__btn:active {
   border: 2px solid var(--light);
   color: var(--light);
}

.secondary__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 55px;
   width: 285px;
   background-color: var(--secondary);
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
}

.secondary__btn:hover {
   background-color: var(--main);
   border: 2px solid var(--secondary);
   color: var(--secondary);
}

.secondary__btn:focus {
   background-color: var(--main);
   color: var(--secondary);
   border: 2px solid var(--text);
}

.secondary__btn:active {
   border: 2px solid var(--light);
   color: var(--light);

}

/* HEADER */
.header__container-top {
   background-color: var(--main);
}

.header__top {
   height: 63px;
   justify-content: space-between;
   align-items: center;
}

.header__top-logo-link {
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   color: var(--light);
   text-transform: uppercase;
}

.link__anim {
   text-decoration: underline;
   text-decoration-color: transparent;
   transition-property: text-decoration-color;
   transition-duration: 0.6s;
}

.link__anim-light:hover,
.link__anim-light:focus {
   text-decoration: underline;
   text-decoration-color: var(--light);
}

.link__anim-main:hover,
.link__anim-main:focus {
   text-decoration: underline;
   text-decoration-color: var(--main);
}

.link__anim-secondary:hover,
.link__anim-secondary:focus {
   text-decoration: underline;
   text-decoration-color: var(--secondary);
}


.header__top-feedback {
   display: flex;
   justify-content: space-between;
   padding: 0px 10px 0px 15px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
}

.header__top-link {
   color: var(--light);
}

.header__container-bottom {
   position: absolute;
   width: 100%;
   z-index: 5;
   background-color: rgba(255, 255, 255, 0.4);
}

.header__bottom {
   height: 80px;
   align-items: center;
   justify-content: space-between;
}

.header__nav-list {
   display: flex;
   justify-content: space-between;
   padding-right: 60px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
}

.burger {
   display: none;
}

.burger-menu {
   display: none;
}

.header__btn-block {
   display: flex;
   justify-content: flex-end;
}

.header__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 180.5px;
   height: 46px;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   border: 2px solid #000000;
   transition: all .4s ease-in-out;
}

.header__btn:hover,
.header__btn:focus {
   background-color: var(--main);
   color: var(--light);
}

.header__btn:active {
   border: 2px solid #fff;
}


/* HERO */
.hero {
   height: 657px;
}

.hero__container {
   height: 100%;
   display: flex;
   align-items: center;
}

.hero__slider-item {
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   height: 657px;
}

.hero__slider-item-first {
   background-image: url(../img/hero/slide-bg-1.png);
}

.hero__slider-item-second {
   background-image: url(../img/hero/slide-bg-2.png);

}

.hero__slider-item-third {
   background-image: url(../img/hero/slide-bg-3.png);

}

.bx-wrapper {
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   border: none;
   background: var(--main);
}

.bx-wrapper .bx-pager {
   padding-left: 20px;
   bottom: 30px;
   padding-top: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a {
   margin: 0px 9px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   background-color: #C4C4C4;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
   background: var(--main);
}

.hero__content-column::before {
   content: '';
   display: block;
   height: 40%;
   width: 49%;
   position: absolute;
   left: 0;
   bottom: 32%;
   background-color: var(--secondary);
   z-index: 0;
}

.hero__descr {
   position: relative;
   margin: 15px 0;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: rgba(0, 0, 0, 0.66);
}

.hero__title {
   position: relative;
   margin: 0;
}

.hero__btn {
   position: relative;
   top: 40px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
}

/* INFO */
.info {
   padding: 90px 0px;
}

.info-content {
   justify-content: space-between;
}

.info__column {
   width: 285px;
}

.info__card {
   position: relative;
   height: 444px;
   box-shadow: 0px 13px 19px rgba(0, 35, 57, 0.24);
}

.info__card-body {
   padding: 34px 5px 52px;
}

.info__card-title {
   margin-bottom: 38px;
   font-weight: 700;
   font-size: 18px;
   line-height: 24px;
   text-align: center;
   letter-spacing: 0.1px;
   text-transform: uppercase;
}

.info__card-descr {
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   letter-spacing: 0.2px;
   color: rgba(0, 0, 0, 0.66);
}

.info__card-btn {
   position: absolute;
   bottom: 0;
}

.info__card-arrow {
   margin-left: 10px;
}

.info__card-btn:hover path {
   fill: var(--secondary);
}

.info__card-btn:focus path {
   fill: var(--secondary);
}

.info__card-btn:active path {
   fill: var(--light);
}


/* GEOGRAPHY */
.geography {
   position: relative;
   height: 829px;
   background-image: url(../img/geography/geography__bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #0A152B;
}

.geography__container {
   padding-top: 50px;
   padding-bottom: 70px;
   height: 100%;
}

.geography__content-top {
   margin-bottom: 50px;
}

.geography__title {
   margin-bottom: 47px;
   color: var(--light)
}

.geography__title::after {
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 43%;
   left: 0;
   top: 13%;
   background-color: var(--secondary);
}

.geography__descr {
   padding: 0px 60px 0px 0px;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   color: var(--light)
}

.geography__form-block {
   display: flex;
   justify-content: space-around;
   padding: 25px 73px 30px;
   width: 495px;
   height: 479px;
   background-color: var(--secondary);
   box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.52);
}

.geography__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.geography__form-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   text-transform: uppercase;
}

.geography__form-input {
   padding: 20px 10px 20px 30px;
   width: 350px;
   height: 60px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 23px;
   box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.33);
}

.geography__form-btn {
   margin-top: 10px;
   width: 350px;
   height: 60px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;

}


/* BENEFITS */
.benefits {
   position: relative;
   padding: 54px 0px 90px 0px;
}

.benefits__title {
   margin-bottom: 103px;

   text-transform: uppercase;
   color: var(--main);
}

.benefits__title::after {
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 41%;
   left: 0;
   top: 18%;
   background-color: var(--main);
}

.benefits__content {
   justify-content: space-between;
}

.benefits__content-column {
   width: 283px;
   box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.benefits__card {
   height: 317px;
}

.benefits__card--body {
   padding: 42px 30px;
}

.benefits__card-icon {
   display: block;
   margin-bottom: 28px;
}

.benefits__card-icon svg {
   width: 118px;
   height: 118px;
}


.benefits__card--descr {
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   letter-spacing: 0.1px;
}


/* PARTNERS */
.partners {
   position: relative;
   padding: 52px 0px 89px 0px;
   background-color: var(--main);
}

.partners__title {
   color: var(--secondary);
   margin-bottom: 85px;
}

.partners__title::after {
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 34%;
   left: 0;
   top: 32%;
   background-color: var(--secondary);
}

.partners__content {
   align-items: center;
}

.partners__content-column {
   display: flex;
   justify-content: center;
}

/* ABOUTUS */
.aboutus__content-left-img {
   float: right;
}

.aboutus__content-text-block {
   padding-top: 107px;
   padding-left: 20px;
   height: 100%;
}

.aboutus__content-text {
   margin-bottom: 20px;
   font-weight: 300;
   font-size: 21px;
   line-height: 32px;
   letter-spacing: 0.1px;
}

.aboutus__btn {
   margin-top: 63px;
   height: 47px;
   width: 278px;
}


/* FEEDBACK */
.feedback {
   position: relative;
   padding: 52px 0px 82px 0px;
   background-image: url(../img/feedback/feedback-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.feedback__content-top-column {
   position: relative;
}

.feedback__content-top-column::before {
   content: '';
   position: absolute;
   width: 132%;
   height: 213%;
   top: -52px;
   left: -89px;
   background: rgba(255, 255, 255, 0.5);
   border-radius: 60%;
   z-index: 0;
   box-shadow: 0 0 0 4px white;
   filter: blur(40px);
}



.feedback__title {
   position: relative;
   margin-bottom: 50px;
   color: #000000;
}

.feedback::after {
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 50%;
   left: 0;
   top: 26%;
   background-color: #000000;
}

.feedback__descr {
   position: relative;
   margin-bottom: 50px;
   padding-right: 50px;
   font-weight: 400;
   font-size: 30px;
   line-height: 37px;
}

.feedback__form-block {
   position: relative;
   display: flex;
   align-items: center;
   width: 1072px;
   height: 141px;
   background-color: var(--secondary);
   box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.52);
}

.feedback__form {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 38px 24px;
}

.feedback__form-input {
   width: 350px;
   height: 66px;
   padding: 19px 0px 27px 34px;
   font-weight: 300;
   font-size: 20px;
   line-height: 23px;

   color: #000000;
}

.feedback__form-btn {
   width: 257px;
   height: 65px;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
}


/* FOOTER */
.footer {
   position: relative;
}

.footer__container-top {
   padding: 50px 0px;
   background-color: var(--main);
}

.footer__content-top {
   justify-content: space-between;
}

.footer__title {
   margin-bottom: 52px;
   font-weight: 700;
   font-size: 30px;
   line-height: 37px;
   text-transform: uppercase;
   color: var(--light);
}

.footer__title::after {
   content: '';
   position: absolute;
   display: block;
   height: 1px;
   width: 19%;
   left: 0;
   top: 25%;
   background-color: #FFFFFF;
}

.footer__btn {
   width: 180px;
   height: 46px;
}

.footer__content-nav-item {
   display: flex;
}

.footer__content-nav-title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 27px;
   color: var(--secondary);

}

.footer__content-nav-link {
   display: flex;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: var(--light);
}

.footer__content-nav-icon {
   padding-right: 10px;
}

.footer__content-nav-item:not(:last-child) {
   margin-bottom: 25px;
}

.footer__container-bottom {
   padding: 26px 0px 30px 0px;
   background-color: #011623;
}

.footer__content-bottom {
   justify-content: space-between;
   align-items: center;
}

.footer__content-bottom-column {
   display: flex;
   justify-content: flex-end;
}

.footer__content-bottom-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%
}

.footer__phone-link,
.footer__mail-link {
   font-weight: 300;
   font-size: 20px;
   line-height: 24px;
}

.footer__content-copyright {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.2px;
   color: var(--light);
}


.social-link__anim {
   display: block;
   border-bottom: 2px solid transparent;
}

.social-link__anim:focus {
   border-bottom: 2px solid var(--light);
}

.social-link__anim:hover {
   border-bottom: 2px solid var(--secondary);
}

.social-link__anim:active path {
   fill: var(--secondary);
}

.social-link__anim:active {
   border-bottom: 2px solid var(--secondary);
}



/* @MEDIA */

@media (min-width: 1200px) and (max-width: 1399.98px) {
   .main__title {
      font-size: 35px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

   .main__title,
   .section__title {
      font-size: 30px;
   }

   /* HERO */
   .hero {
      height: 100%;
   }

   .hero__slider-item {
      height: 550px;
   }

   .bx-wrapper {
      margin-bottom: 0;
   }

   .bx-viewport {
      height: 549.9px;
   }

   /* INFO */
   .info {
      padding-top: 60px;
      padding-bottom: 60px;
   }

   .info__column {
      width: 25%;
      padding-left: 10px;
      padding-right: 10px;
   }

   .info__card-top,
   .info__card-btn {
      width: 100%;
   }

   /* GEOGRAPHY */
   .geography {
      background-position: 82% 50%;
   }

   .geography__form-block {
      padding: 20px 40px 20px;
      width: 100%;
   }

   /* BENEFITS */
   .benefits {
      padding-bottom: 60px;
   }

   .benefits__title {
      margin-bottom: 60px;
   }

   .benefits__title::after {
      top: 20%;
   }

   .benefits__content-column {
      padding-left: 10px;
      padding-right: 10px;
      width: 24%;
   }

   .benefits__card {
      height: 100%;
   }

   .benefits__card--body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding: 20px 10px;
   }

   .benefits__card--descr {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
   }

   .benefits__card-icon svg {
      width: 80px;
      height: 80px;
   }

   /* PARTNERS */
   .partners {
      padding: 52px 0px 60px 0px;
   }

   /* ABOUTUS */
   .aboutus {
      padding: 50px 0px 0px 0px;
   }

   .aboutus__container {
      height: 500px;
   }

   .aboutus__content-left-img {
      height: 77%;
   }

   .aboutus__content-text-block {
      padding-top: 0;
   }

   .aboutus__content-text {
      font-size: 18px;
      line-height: 26px;
   }

   /* FEEDBACK */
   .feedback {
      padding-bottom: 60px;
      background-position: 75% 50%;
   }

   .feedback::after {
      top: 30%;
   }

   .feedback__form-block {
      width: auto;
      height: auto;
   }

   .feedback__form {
      padding: 25px 25px;
   }

   .feedback__form-input {
      width: 276px;
      height: 50px;
      padding: 16px 10px 16px 28px;
      font-size: 18px;
      line-height: 26px;
   }

   .feedback__form-btn {
      width: 210px;
      height: 50px;
      font-size: 18px;
   }

}

@media (min-width: 768px) and (max-width: 991.98px) {

   .main__title {
      font-size: 30px;
   }

   .section__title {
      font-size: 25px;
   }

   /* HEADER */

   .header__bottom {
      height: 70px;
   }

   .header__nav-list {
      padding-right: 14px;
      font-size: 14px;
   }

   /* HERO */
   .hero {
      height: 100%;
   }

   .hero__slider-item {
      height: 550px;
   }

   .bx-wrapper {
      margin-bottom: 0;
   }

   .bx-viewport {
      height: 549.9px;
   }

   .hero__content-column::before {
      width: 60%;
   }

   /* INFO */
   .info {
      padding-top: 60px;
      padding-bottom: 60px;
   }

   .info__column {
      width: 50%;
      margin-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
   }

   .info__card-top,
   .info__card-btn {
      width: 100%;
   }

   /* GEOGRAPHY */
   .geography {
      height: 100%;
      background-position: 82% 50%;
   }

   .geography__descr {
      font-size: 18px;
      line-height: 26px;
   }


   .geography__form-block {
      padding: 20px 40px 20px;
      width: 100%;
      height: 100%;
   }

   .geography__form-title {
      margin-bottom: 20px;
      font-size: 20px;
   }

   .geography__form-input {
      margin-bottom: 20px;
      width: 300px;
      height: 50px;
      font-size: 16px;
   }

   .geography__form-btn {
      width: 300px;
      height: 50px;
   }

   /* BENEFITS */
   .benefits {
      padding-bottom: 60px;
   }

   .benefits__title {
      margin-bottom: 60px;
   }

   .benefits__title::after {
      top: 20%;
   }

   .benefits__content-column {
      padding-left: 10px;
      padding-right: 10px;
      width: 24%;
   }

   .benefits__card {
      height: 100%;
   }

   .benefits__card--body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding: 20px 10px;
   }

   .benefits__card--descr {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
   }

   .benefits__card-icon svg {
      width: 80px;
      height: 80px;
   }

   /* PARTNERS */
   .partners {
      padding: 52px 0px 60px 0px;
   }

   /* ABOUTUS */
   .aboutus {
      padding: 50px 0px 0px 0px;
   }

   .aboutus__container {
      height: 500px;
   }

   .aboutus__content-left-img {
      height: 77%;
   }

   .aboutus__content-text-block {
      padding-top: 0;
   }

   .aboutus__content-text {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 23px;
   }

   .aboutus__btn {
      margin-top: 31px;
   }

   /* FEEDBACK */
   .feedback {
      padding-bottom: 60px;
      background-position: 75% 50%;
   }

   .feedback::after {
      top: 24%;
   }

   .feedback__content-top-column::before {
      width: 84%;
      height: 165%;
   }

   .feedback__descr {
      font-size: 25px;
   }

   .feedback__form-block {
      width: auto;
      height: auto;
   }

   .feedback__form {
      padding: 15px 15px;
   }

   .feedback__form-input {
      width: 240px;
      height: 40px;
      padding: 16px 10px 16px 28px;
      font-size: 16px;
      line-height: 26px;
   }

   .feedback__form-btn {
      width: 180px;
      height: 40px;
      font-size: 16px;
   }

   /* FOOTER */
   .footer__container-top {
      padding: 40px 0px;
   }

   .footer__title {
      margin-bottom: 36px;
   }

   .footer__title::after {
      width: 28%;
      top: 23%;
   }

   .footer__content-top-column {
      display: flex;
      justify-content: space-between;
   }

   .footer__content-nav-title {
      font-size: 18px;
   }

   .footer__content-nav-item:not(:last-child) {
      margin-bottom: 14px;
   }

   .footer__phone-link,
   .footer__mail-link {
      font-size: 18px;
   }
}

@media (min-width: 320px) and (max-width: 767.98px) {
   .header__container-top {
      position: relative;
      z-index: 20;
   }

   .header__nav {
      display: none;
   }

   .burger {
      position: relative;
      display: block;
      width: 45px;
      height: 38px;
      cursor: pointer;
   }

   .burger:hover span {
      background-color: var(--secondary);

   }

   .burger span {
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      top: calc(50% - 2px);
      left: 0;
      background-color: var(--main);
      transition: all .5s ease;
   }

   .burger::before,
   .burger::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      left: 0;
      background-color: var(--main);
      transition: all .5s ease;
   }

   .burger:hover::before,
   .burger:hover::after {
      background-color: var(--secondary);

   }

   .burger::before {
      top: 0;
   }

   .burger::after {
      bottom: 0;
   }

   .burger.active span {
      transform: scale(0);
   }

   .burger.active::before {
      width: 70%;
      top: 17px;
      left: 7px;
      transform: rotate(45deg);
   }

   .burger.active::after {
      width: 70%;
      bottom: 17px;
      left: 7px;
      transform: rotate(-45deg);
   }

   .burger-menu {
      position: absolute;
      display: flex;
      left: 0;
      top: -1px;
      height: 259px;
      background-color: rgba(255, 255, 255, 0.9);
      transform: translateY(-417px);
      transition: transform .5s ease-in-out;
      z-index: -1;
      padding-top: 70px;
   }

   .burger-menu.is-active {
      transform: none;
   }

   .burger-menu-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
   }

   .burger-menu-link {
      font-weight: 700;
      font-size: 20px;
      color: var(--main);
   }
}

@media (min-width: 576px) and (max-width: 767.98px) {
   .main__title {
      font-size: 20px;
      line-height: 26px;
   }

   .section__title {
      font-size: 20px;
   }

   /* HEADER */

   .header__top {
      height: 50px;
   }

   .header__top-feedback {
      flex-direction: column;
      align-items: flex-end;
      padding: 0px;
   }

   .header__top-link {
      margin-right: 0px;
   }

   .header__bottom {
      height: 70px;
   }



   /* HERO */
   .hero {
      height: 100%;
   }

   .hero__slider-item {
      height: 550px;
   }

   .bx-wrapper {
      margin-bottom: 0;
   }

   .bx-viewport {
      height: 549.9px;
   }

   .hero__container {
      height: 444px;
   }

   .hero__content-column::before {
      width: 70%;
      top: 25%;
      height: 25%;
   }

   .hero__descr {
      font-size: 16px;
      line-height: 26px;
   }

   .hero__btn {
      top: 16px;
      height: 50px;
      width: 220px;
      font-size: 16px;
      line-height: 24px;
   }

   /* INFO */
   .info {
      padding-top: 60px;
      padding-bottom: 60px;
   }

   .info__column {
      width: 50%;
      margin-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
   }

   .info__card {
      height: 390px;
   }

   .info__card-body {
      padding: 15px;
   }

   .info__card-title {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 20px;
   }

   .info__card-top,
   .info__card-btn {
      width: 100%;
   }

   /* GEOGRAPHY */
   .geography {
      height: 100%;
      background-position: 82% 50%;
   }

   .geography__title {
      margin-bottom: 9px;
   }

   .geography__descr {
      font-size: 18px;
      line-height: 26px;
      padding: 0;
   }


   .geography__form-block {
      padding: 20px 40px 20px;
      width: 100%;
      height: 100%;
   }

   .geography__form-title {
      margin-bottom: 20px;
      font-size: 20px;
   }

   .geography__form-input {
      margin-bottom: 20px;
      width: 300px;
      height: 50px;
      font-size: 16px;
   }

   .geography__form-btn {
      width: 300px;
      height: 50px;
   }

   /* BENEFITS */
   .benefits {
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .benefits__title {
      margin-bottom: 40px;
   }

   .benefits__title::after {
      top: 15%;
      width: 50%;
   }

   .benefits__content-column {
      padding-left: 10px;
      padding-right: 10px;
      width: 50%;
   }

   .benefits__card {
      height: 100%;
   }

   .benefits__card--body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding: 20px 10px;
   }

   .benefits__card--descr {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
   }

   .benefits__card-icon svg {
      width: 80px;
      height: 80px;
   }

   /* PARTNERS */
   .partners {
      padding: 40px 0px 40px 0px;
   }

   .partners__title {
      margin-bottom: 25px;
   }

   .partners__title::after {
      width: 38%;
      top: 28%;
   }

   /* ABOUTUS */
   .aboutus {
      padding: 50px 0px 0px 0px;
   }

   .aboutus__container {
      height: 500px;
   }

   .aboutus__content-left {
      height: 200px;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
   }

   .aboutus__content-left-img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -38%);
   }

   .aboutus__content-text-block {
      padding-top: 0;
   }

   .aboutus__content-text {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
   }

   .aboutus__btn {
      margin-top: 14px;
   }

   /* FEEDBACK */
   .feedback {
      margin-top: 40px;
      padding-bottom: 40px;
      background-position: 88% 50%;
   }

   .feedback::after {
      top: 22%;
      width: 60%;
   }

   .feedback__content-top-column::before {
      width: 84%;
      height: 165%;
   }

   .feedback__title {
      margin-bottom: 0;
   }

   .feedback__descr {
      font-size: 18px;
   }

   .feedback__form-block {
      width: auto;
      height: auto;
   }

   .feedback__form {
      flex-direction: column;
      padding: 15px 15px;
   }

   .feedback__form-input {
      width: 100%;
      height: 40px;
      padding: 16px 10px 16px 28px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 10px;
   }

   .feedback__form-btn {
      width: 100%;
      height: 40px;
      font-size: 16px;
   }

   /* FOOTER */
   .footer__container-top {
      padding: 40px 0px;
   }

   .footer__title {
      margin-bottom: 25px;
   }

   .footer__title::after {
      width: 37%;
      top: 20%;
   }

   .footer__content-top-column {
      display: flex;
      justify-content: space-between;
   }

   .footer__content-nav-title {
      font-size: 16px;
   }

   .footer__content-nav-item:not(:last-child) {
      margin-bottom: 10px;
   }

   .footer__content-nav-link {
      font-size: 12px;
   }

   .footer__phone-link,
   .footer__mail-link {
      font-size: 12px;
   }
}

@media (min-width: 320px) and (max-width: 575.98px) {
   .main__title {
      font-size: 20px;
      line-height: 26px;
   }

   .section__title {
      font-size: 20px;
   }

   /* HEADER */

   .header__top {
      height: 50px;
   }

   .header__top-logo-link {
      font-size: 20px;
   }

   .header__top-feedback {
      flex-direction: column;
      align-items: flex-end;
      padding: 0px;
      font-size: 12px;
   }

   .header__top-link {
      margin-right: 0px;
   }

   .header__bottom {
      height: 70px;
   }

   .burger-menu-link {
      font-size: 16px;
   }



   /* HERO */
   .hero {
      height: 100%;
   }

   .hero__slider-item {
      height: 550px;
   }

   .hero__slider-item-first,
   .hero__slider-item-second {
      background-position: 70% 50%;
   }

   .hero__slider-item-third {
      background-position: 40% 50%;
   }

   .bx-wrapper {
      margin-bottom: 0;
   }

   .bx-viewport {
      height: 549.9px;
   }

   .hero__container {
      height: 444px;
   }

   .hero__content-column::before {
      width: 95%;
      top: 25%;
      height: 25%;
   }

   .hero__descr {
      font-size: 16px;
      line-height: 26px;
   }

   .hero__btn {
      top: 16px;
      height: 50px;
      width: 220px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 24px;
   }

   /* INFO */
   .info {
      padding-top: 60px;
      padding-bottom: 60px;
   }

   .info__column {
      width: 100%;
      margin-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
   }

   .info__card {
      height: 390px;
   }

   .info__card-body {
      padding: 15px;
   }

   .info__card-title {
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 20px;
   }

   .info__card-top,
   .info__card-btn {
      width: 100%;
   }

   /* GEOGRAPHY */
   .geography {
      height: 100%;
      background-position: 63% 50%;
   }

   .geography__title {
      margin-bottom: 9px;
   }

   .geography__descr {
      font-size: 18px;
      line-height: 26px;
      padding: 0;
   }


   .geography__form-block {
      padding: 20px 40px 20px;
      width: 100%;
      height: 100%;
   }

   .geography__form-title {
      margin-bottom: 20px;
      font-size: 20px;
   }

   .geography__form-input {
      margin-bottom: 20px;
      width: 100%;
      height: 50px;
      font-size: 16px;
   }

   .geography__form-btn {
      width: 100%;
      height: 50px;
      font-size: 16px;
   }

   /* BENEFITS */
   .benefits {
      padding-top: 40px;
      padding-bottom: 40px;
   }

   .benefits__title {
      margin-bottom: 40px;
   }

   .benefits__title::after {
      top: 9%;
      width: 70%;
   }

   .benefits__content-column {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
   }

   .benefits__card {
      height: 100%;
   }

   .benefits__card--body {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding: 20px 10px;
   }

   .benefits__card--descr {
      text-align: center;
      font-size: 18px;
      line-height: 26px;
   }

   .benefits__card-icon svg {
      width: 80px;
      height: 80px;
   }

   /* PARTNERS */
   .partners {
      padding: 40px 0px 40px 0px;
   }

   .partners__title {
      margin-bottom: 25px;
   }

   .partners__title::after {
      width: 66%;
      top: 18%;
   }

   .partners__content-column {
      margin-bottom: 25px;
   }

   /* ABOUTUS */
   .aboutus {
      padding: 50px 0px 0px 0px;
   }

   .aboutus__container {
      height: 100%;
   }

   .aboutus__content-left {
      height: 200px;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-bottom: 10px;
   }

   .aboutus__content-left-img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -38%);
   }

   .aboutus__content-text-block {
      padding-top: 0;
      padding-left: 0;
   }

   .aboutus__content-text {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 20px;
   }

   .aboutus__btn {
      margin-top: 14px;
   }

   /* FEEDBACK */
   .feedback {
      margin-top: 40px;
      padding-bottom: 40px;
      background-position: 88% 50%;
   }

   .feedback::after {
      top: 22%;
      width: 60%;
   }

   .feedback__content-top-column::before {
      width: 84%;
      height: 165%;
   }

   .feedback__title {
      margin-bottom: 0;
      line-height: 26px;
   }

   .feedback__descr {
      font-size: 18px;
   }

   .feedback__form-block {
      width: auto;
      height: auto;
   }

   .feedback__form {
      flex-direction: column;
      padding: 15px 15px;
   }

   .feedback__form-input {
      width: 100%;
      height: 40px;
      padding: 16px 10px 16px 28px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 10px;
   }

   .feedback__form-btn {
      width: 100%;
      height: 40px;
      font-size: 16px;
   }

   /* FOOTER */
   .footer__container-top {
      padding: 40px 0px;
   }

   .footer__content-top {
      flex-direction: column;
      align-items: center;
   }

   .footer__title {
      margin-bottom: 25px;
      font-size: 29px;
   }

   .footer__title::after {
      display: none;
   }

   .footer__content-top-column {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
   }

   .footer__btn {
      width: 100%;
   }

   .footer__content-nav-title {
      font-size: 16px;
   }

   .footer__content-nav-item:not(:last-child) {
      margin-bottom: 10px;
   }

   .footer__content-nav-link {
      font-size: 12px;
   }

   .footer__phone-link,
   .footer__mail-link {
      font-size: 12px;
   }

   .footer__content-bottom-column {
      justify-content: center;
   }

   .footer__content-bottom-list {
      justify-content: space-evenly;
   }
}